.status-change-wrapper {
  padding: 20px;
  .titleText {
    line-height: 40px;
  }
  .textList {
    .el-col {
      padding: 20px 0;
    }
  }
  .paginat {
    display: flex;
    flex-direction: row-reverse;
  }
  .headImg {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .viewReport {
    cursor: pointer;
  }
  .flexLine {
    display: flex;
  }
  .textTit {
    border-bottom: 2px solid #7dbe00;
    font-size: 14px;
  }
}
