
@import "../../../../../../style/mixins.less";
@import "../../../../../../style/variables.less";
.group-list-container{
  .group-list-top{
    .top-bac();
    .el-input{
      width: 50%;
    }
  }
  .group-list-content{
    .add-box{
      text-align: right;
    }
    .pagination{
      text-align: center;
      margin-top: 20px;
    }
  }
}
