@import "../../../../../style/mixins.less";
@import "../../../../../style/variables.less";

.topic-container{
  padding: 20px;
  h3{
    margin-bottom: 10px;
  }
  .topic-top{
    .top-bac();
    .el-row{
      margin-bottom: 10px;
      .el-input{
        width: 70%;
      }
    }
  }
  .topic-content {
    .pagination {
      margin-top: 20px;
      text-align: center;
    }
  }
}
