
.content-main{
  .el-header{
    border-bottom: 1px solid #efefef;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 23;
    background-color: #ffffff;
  }
  .header{
   /* position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;*/
    height: 80px;
    >ul{
      height: 100%;
      border-bottom: none;
      >li{
        line-height: 80px;
        height: 80px;
        color: #000;
        >span{
          color: #999;
        }
      }
    }
    .el-menu-demo{
      text-align: right;
      padding-right: 50px;
      >.el-menu-item{
        float: right;
      }
    }
  }
.content{
  margin-top: 80px;
}
}
.fade-enter {
  opacity:0;
}
.fade-leave{
  opacity:1;
}
.fade-enter-active{
  transition:opacity .5s;
}
.fade-leave-active{
  opacity:0;
  transition:opacity .5s;
}

.fade-enter {
  opacity:0;
}
.fade-leave{
  opacity:1;
}
.fade-enter-active{
  transition:opacity .5s;
}
.fade-leave-active{
  opacity:0;
  transition:opacity .5s;
}
.grid-content{
  line-height: 80px;
}
.head-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
